<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @habit.title %>
</p>

<p>
  <strong>Action:</strong>
  <%= @habit.action %>
</p>

<%= link_to 'Edit', edit_habit_path(@habit) %> |
<%= link_to 'Back', habits_path %>

<% if user_signed_in? %>
    <% if Membership.where(:habit_id => @habit.id,
                           :user_id => current_user.id).exists? %>
        Joined
    <% else %>
        <%= link_to "Join", habit_add_user_path(@habit) %>
    <% end %>
<% end %>
